# Configuration file for __PROJECT_NEW_NAME__

# Project name
PROJECT_NAME = __PROJECT_NEW_NAME__

# Project Author
PROJECT_AUTHOR = Lars Jensen

# Project Author
PROJECT_AUTHOR_EMAIL = lars.jensen@exenova.dk

# Project Major version number
PROJECT_MAJOR = 0

# Project Minor version number
PROJECT_MINOR = 0

# Localhost webserver
LOCALHOST = __PROJECT_NEW_NAME__.localhost

# Localhost webser port
LOCALHOST_PORT = 80