# Configuration file for modulaise

# Project name
PROJECT_NAME = modulaise

# Project Author
PROJECT_AUTHOR = Lars Jensen

# Project Author
PROJECT_AUTHOR_EMAIL = lars.jensen@exenova.dk

# Project Major version number
PROJECT_MAJOR = 0

# Project Minor version number
PROJECT_MINOR = 7

# Localhost webserver
LOCALHOST = modulaise.localhost

# Localhost webser port
LOCALHOST_PORT = 80