# Configuration file for the Modulaise build tools suite

# Version
MODULAISE_VERSION = v0.7.4

# Apache configutation file, only used for the README.markdown
FILE_APACHE_CONFIGURATION = C:/dev/Apache Software Foundation/Apache2.2/conf/httpd.conf

# Hosts file, only used for the README.markdown
FILE_HOSTS = C:/Windows/System32/drivers/etc/hosts

# delimiter
DELIMITER = _

# Path to deploy targets
PATH_TO_DEPLOY_TARGETS = modulaise/deploy-targets

# path to project boilerplates
PATH_BOILERPLATES_PROJECTS = modulaise/boilerplates/projects

# path to page boilerplates
PATH_BOILERPLATES_PAGES = modulaise/boilerplates/pages

# path to module boilerplates
PATH_BOILERPLATES_MODULES = modulaise/boilerplates/modules

# css
PANE_CSS = PANE_CSS

# js_head 
PANE_JS_HEAD = PANE_JS_HEAD

# js_foot
PANE_JS_FOOT = PANE_JS_FOOT

# html_head_XX where XX < 50
PANE_HTML_HEAD_FIRST = PANE_HTML_HEAD_FIRST

# html_head_XX where XX > 49 - any html_head with no number automatically gains weight 75
PANE_HTML_HEAD_LAST = PANE_HTML_HEAD_LAST

# html_foot_XX where XX < 50
PANE_HTML_FOOT_FIRST = PANE_HTML_FOOT_FIRST

# html_foot_XX where XX > 49 - any html_foot with no number automatically gains weight 75
PANE_HTML_FOOT_LAST = PANE_HTML_FOOT_LAST

# Webfolder, you should rarely need to touch this file
PATH_WEBFOLDER = WebContent

# Path to modules, starts and ends with no slashes
PATH_MODULES = sc

# Static path to pages when compiling static pages
PATH_MODULES_BUILD = ../../sc/

# Dynamic path to pages when creating them dynamically on the fly and serving them from server
PATH_MODULES_DEVELOPMENT = /sc/

# Directory to store compiled pages, by default this is in the root of the webserver
PATH_PAGES_COMPILED = modulaise/pages_compiled

# Path to directory containing pages, starts and ends with no slashes
PATH_PAGES = modulaise/pages

# Path to directory containing cached versions of the pages
PATH_PAGES_CACHED = modulaise/pages_cached

# Directory containing php templates
PATH_TEMPLATES = modulaise/templates

# Directory containing zipped builds
PATH_BUILDS = modulaise/builds

# Folder with compiled scripts, this folder must start with '-' so as not to be included
# by any of the buildscripts.
FOLDER_COMPILED = _compiled

# Name of compiled js_head file
FILENAME_JSHEAD_COMPILED = js_head.min.js

# Name of compiled js_head file
FILENAME_JSFOOT_COMPILED = js_foot.min.js

# Name of compiled css file
FILENAME_CSS_COMPILED = style.min.css

# When using the new module wizard choose this value as the default, leave blank for first value
DEFAULT_MODULE_BOILERPLATE =

# When using the new page wizard choose this value as the default, leave blank for first value
DEFAULT_PAGE_BOILERPLATE =
