/* Stylesheet for __MODULE_SHORTNAME__-__MODULE_LONGNAME__ */
.__MODULE_SHORTNAME__ {
	width: 49%;
	display: block;
	float: left;
	clear: none;
}

.__MODULE_SHORTNAME__-inner {
	background-color: green;
}